[submodule "build/Bukkit"]
	path = build/Bukkit
	url = https://github.com/Bukkit/Bukkit.git
[submodule "build/CraftBukkit"]
	path = build/CraftBukkit
	url = https://github.com/Bukkit/CraftBukkit.git
[submodule "build/Daylight"]
	path = build/Daylight
	url = https://github.com/cal/Daylight.git
[submodule "build/ScaledMaps"]
	path = build/ScaledMaps
	url = https://github.com/cal/ScaledMaps.git
[submodule "build/NoCheatPlus"]
	path = build/NoCheatPlus
	url = https://github.com/NeatMonster/NoCheatPlus.git
