[submodule "build/Bukkit"]
	path = build/Bukkit
	url = https://github.com/Bukkit/Bukkit.git
[submodule "build/CraftBukkit"]
	path = build/CraftBukkit
	url = https://github.com/Bukkit/CraftBukkit.git
[submodule "build/Daylight"]
	path = build/Daylight
	url = https://github.com/cal/Daylight.git
[submodule "build/ScaledMaps"]
	path = build/ScaledMaps
	url = https://github.com/cal/ScaledMaps.git
[submodule "build/NoCheatPlus"]
	path = build/NoCheatPlus
	url = https://github.com/NeatMonster/NoCheatPlus.git
[submodule "build/WorldBorder"]
	path = build/WorldBorder
	url = https://github.com/Brettflan/WorldBorder.git
[submodule "build/dynmap-api"]
	path = build/dynmap-api
	url = https://github.com/webbukkit/dynmap-api.git
[submodule "build/DynmapCoreAPI"]
	path = build/DynmapCoreAPI
	url = https://github.com/webbukkit/DynmapCoreAPI.git
